.texto-menor{
  font-size: 13px;
}

.divs-facilidades{
  width:325px;
}
.image{
  width: 100px;
}

.color-green{
  color:#D3A76A;
}

.bg-purple{
  background-color:  #D3A76A;
  color: white;
}
.bg-purple:hover{
  background-color:  #b3833f;
  color: white;
}